@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import '../../src/util/styles/global.css';

body {
  font-family: 'Lato', sans-serif;
}

/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  overflow: auto;
  position: fixed;
  background: hsla(0, 0%, 0%, 0.33);

  display: flex;
  align-items: center;
  justify-content: center;
}

[data-reach-dialog-content] {
  outline: none;
}

.pac-container {
  z-index: 1060;
}
